%h2= t('.title')

%form_for @article, url: {action: "create"}, html: {class: "nifty_form"}
  .span-4
    = f.text_field :q, :class => "title span-4"
    
  .span-3
    %p
      = f.label :item_category_id
      %br/
      - options =  options_from_collection_for_select(ItemCategory.all, :id, :name_with_position, @item_search.item_category_id.to_i)
      = select_tag "item_search[item_category_id]", options_for_select({ t('.all_categories') => nil }) + options, :class => "span-3"
      = f.text_field :customer_name, :class => "span-3 disabled", :readonly => true, :placeholder => "customer", :title => "customer"
      = f.hidden_field :customer_id

  .span-3
    %p
      = f.label :event_id
      %br/
      - options =  options_from_collection_for_select(ItemEvent.all, :id, :name_with_position, @item_search.event_id.to_i)
      = select_tag "item_search[event_id]", options_for_select({ t('.all_categories') => nil }) + options, :class => "span-3 bind_focus_blur", :title => "events"

    %div.span-4.bind_focus_blur#event_form
      .custom-select-wrapper
        .custom-select#event_edit{:name => 'event-edit', :title => 'choose your way'}
          .custom-select__trigger
           %span Alle kategorier
           .arrow
        .custom-options
          %span.add-event#add-event
            %input{:type => 'text', :value => 'Add new event', :disabled => true}
            %img.select-btn{:src => '/check.png'}
          %span.custom-option.selected
            %input{:value => 'Alle kategorier', :type=> 'text' :disabled => true}
            -# Один из елементов списка
          %span.custom-option{:data=>{:value=>'2', :index => '1'}}
            %input{:type=>"text", :value=>'1. Unassigned' :disabled=> true}
            .btn-row
              %img.select-btn.check-btn{:src=> '/check.png'}
              %img.select-btn.edit-btn{:src=> '/edit.png'}
              %img.select-btn.delete-btn{:src=> '/delete.png'}
      -# = select_tag "event_edit", |
      -#     options_for_select({"Add new Event" => nil}) + options_from_collection_for_select(ItemEvent.all, :id, :name_with_position), |
      -#     :class => "span-3", |
      -#     :title => "choose your way" |
      //%button#event_remove{:title => 'remove'} Del
      
     // %input.span-3#event_new_name{type="text", placeholder="new event", title="new event"}
     // %button#event_new_save{title='add'} Add
      
  .span-3
    %p
      = f.label :price_estimate_from, t(".price_estimate")
      %br/
      = f.text_field :price_estimate_from, :size => 12, :class => "span-2"
      %span{ :style => "padding: 0 9px" } -
      = f.text_field :price_estimate_to, :size => 12, :class => "span-2"
      
  .span-2.prepend-top.last
    
    = link_to t(".reset_search"), item_search_path, :method => :delete, :data => {:confirm => "You sure?" }, :title => "Reset"
  .clear
      
  .span-4
    = f.label :sort_by
    %br/
    = f.radio_button :sort_order, "asc"
    = f.label :sort_order_asc, t('.sort_order_asc')
    = f.radio_button :sort_order, "desc"
    = f.label :sort_order_desc, t('.sort_order_desc')
    &nbsp;
    = f.select :sort_by, options_for_select(ItemSearch.sort_options_for_select, @item_search.sort_by)
    
    
  .span-3
    = f.label :per_page
    %br
    = f.select :per_page, options_for_select([10, 15, 20, 25, 50, 100], :selected => @item_search.per_page.to_i)

  .span-3
    %p.float-left
      = f.label :include_sold
      %br/
      = f.check_box :include_sold
    %p.float-left.margin-left
      = f.label :include_returned
      %br/
      = f.check_box :include_returned

    
  .span-2.last{ :style => "text-align: right" }
    = f.submit t("button.search")#, :class => "pretty", "data-style" => "width: 100px; text-align: center;"
  
- form_tag inventory_report_item_categories_path, :method => :get, :class => "span-3 report-form" do
  %label{:for => "item_category_id"} Rapporter: Lagerliste
  - options =  options_from_collection_for_select(ItemCategory.all, :id, :name_with_position)
  = select_tag "item_category_id", options_for_select({ t('.all_categories') => nil }) + options, :class => "span-2"
  = submit_tag 'Last ned'


%hr/
- if @items.empty?
  %h4 No items matched your criteria
- else  
  = render "item_searches/item_results"
